 .icon {
   width: 30px;
    height: 30px;
   fill: currentColor;
   overflow: hidden;
 }

 .dis-f {
   display: flex;
 }

 .flex1 {
   flex: 1;
 }

 .fw-w {
   flex-wrap: wrap;
 }

 .dis-b {
   display: block;
 }

 .a-center {
   align-items: center;
 }

 .a-baseline {
   align-items: baseline;
 }

 .a-start {
   align-items: flex-start;
 }

 .a-end {
   align-items: flex-end;
 }

 .j-center {
   justify-content: center;
 }
 .j-end {
   justify-content: end;
 }
.j-start{
    justify-content: start;
}
 .pointer {
   cursor: pointer;
 }

 .not-allowed {
   cursor: not-allowed !important;
 }

 .bg-w {
   background: #fff;
 }

 .w100 {
   width: 100%;
 }

 .h0 {
   height: 0;
 }

 .fl {
   float: left;
 }

 .fr {
   float: right;
 }

 .mar10 {
   margin: 10px;
 }

 .mar0 {
   margin: 0px;
 }

 .martb10 {
   margin: 10px 0;
 }

 .marlr10 {
   margin: 0 10px;
 }

 .martr10 {
   margin: 10px 10px 0 0;
 }

 .marbl10 {
   margin: 0 0 10px 10px;
 }

 .marl10 {
   margin-left: 10px;
 }

 .marr10 {
   margin-right: 10px;
 }

 .marb10 {
   margin-bottom: 10px;
 }

 .mart10 {
   margin-top: 10px;
 }

 .mart0 {
   margin-top: 0px;
 }

 .pad10 {
   padding: 10px;
 }
.pad16{
   padding: 16px;

}
 .pad0 {
   padding: 0px;
 }

 .padtb10 {
   padding-top: 10px;
   padding-bottom: 10px;
 }

 .padlr10 {
   padding-left: 10px;
   padding-right: 10px;
 }

 .ml-10 {
   margin-left: 10px;
 }

 .mr-10 {
   margin-right: 10px;
 }

 .padl10 {
   padding-left: 10px;
 }

 .padr10 {
   padding-right: 10px;
 }

 .padb10 {
   padding-bottom: 10px;
 }

 .padb0 {
   padding-bottom: 0px;
 }

 .padt10 {
   padding-top: 10px;
 }

 .padt0 {
   padding-top: 0px;
 }

 .ellipsis {
   overflow: hidden;
   white-space: nowrap;
   -o-text-overflow: ellipsis;
   text-overflow: ellipsis;
 }

 .center {
   position: absolute;
   margin: auto;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
 }

 .ovf-h {
   overflow: hidden;
 }

 .ovf-v {
   overflow: visible;
 }

 .ovf-a {
   overflow: auto;
 }

 .ovf-v {
   overflow: visible;
 }

 .ovf-x-a {
   overflow: hidden;
   overflow-x: auto;
 }

 .ovf-y-a {
   overflow: hidden;
   overflow-y: auto;
 }

 .fit {
   width: 100%;
   height: 100%;
   box-sizing: border-box;
 }

 .h100 {
   height: 100%;
 }

 .bor4 {
   border: 1px solid #EBEEF5;
 }

 .bor-b {
   border-bottom: 1px solid #d9d9d9;
 }

 .pos-a {
   position: absolute;
 }

 .pos-r {
   position: relative;
 }

 .tx-r {
   text-align: right;
 }

 .tx-l {
   text-align: left;
 }

 .tx-c {
   text-align: center;
 }

 .hide {
   display: none;
 }
 .popover-sdk {
  padding: 0px;
      background: #fcfcfc;
}
.popover-sdk .el-card__body{
  padding: 0;
}
.popover-sdk .el-card__header {
    padding:16px;
}
  .van-cell {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 10px 16px;
    overflow: hidden;
    color: #323233;
    font-size: 14px;
    line-height: 24px;
    background-color: #fff;
    align-items: center;
}
.van-cell__title, .van-cell__value {
    white-space: nowrap;
    flex: 1;
        font-family: Helvetica;
    color: #333333;
    font-size: 14px;
}
.van-cell--clickable {
    cursor: pointer;
}
.van-cell__right-icon {
    margin-left: 4px;
    color: #969799;
}
// .van-cell::after {
//     position: absolute;
//     box-sizing: border-box;
//     content: ' ';
//     pointer-events: none;
//     right: 16px;
//     bottom: 0;
//     left: 16px;
//     border-bottom: 1px solid #ebedf0;
//     -webkit-transform: scaleY(0.5);
//     transform: scaleY(0.5);
// }
.cc-disabled ,.cc-disabled .el-input__inner{
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.justify-between {
  display: flex;
  justify-content: space-between;
}
.box-shadow4{
  background: #FFFFFF;
box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.08);
border-radius: 6px;
}
.padlr16 {
  padding: 0 16px;
}